.user-wrapper {
    overflow: hidden;
}

.header {
    color: white;
    min-height: 40px;
    max-height: 5vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.header-menu {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
    z-index: 0;
}

.logo {
    margin-left: 30px;
    min-height: 40px;
    max-height: 5vh;
    max-width: 30%;
    object-fit: cover;
}

.accountMenu {
    margin-right: 30px;
    margin: auto 0;
    cursor: default;
    z-index: 10;}