.react-calendar {
    width: 100%;
}

.calendar-title {
    margin-bottom: 0;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.8);
}

.addButon {
    margin: 0;
    padding: 0;
    font-size: 8px;
}