.categories {
    margin: 3%;
    display: inline-block;
    max-height: 30vh;
    overflow: scroll;
}

.categories::-webkit-scrollbar {
    display: none;
}

.category-piece {
    font-weight: bold;
    padding: 3px;
    margin: 18px;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
}

.destroy-mark {
    font-size: 20px;
    font-weight: bold;
}

.dropAlertMsg {
    text-align: center;
    color: red;
}

.tab li {
    background-color: rgba(255, 255, 255, 0.5);
}

.addCategory {
    margin: 3%;
}

.categoryAddForm {
    display: flex;
}

.addButton {
    float: right;
}

.category-box {
    width: 400px;
    background-color: #fff;
}

.box-header {
    background-color: rgba(0, 0, 0, .5);
    padding-left: 90%;
}

.box-close-button {
    width: 20px;
    cursor: pointer;
    font-size: 20px;
}

.box-main {
    margin: 5px;
    padding-bottom: 5px;
}

.edit-button-area {
    margin-left: 220px;
}

.category-len {
    float: right;
}

.edit-category-len {
    text-align: right;
}

.editMatchError,
.addCategoryMatchError {
    color: red;
}