.form p {
    margin: 0;
}

.form label {
    margin: 5px 0 0;
}

.title-flame {
    margin: 20px 0;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

.expense-flame {
    background-color: #FFF3CD;
}

.income-flame {
    background-color: #CFF4FC;
}

.title {
    font-size: 18px;
    line-height: 30px;
}

.flame {
    margin: 0 auto;
    padding-top: 30px;
    width: 100px;
}

.submit-button {
    width: 100px;
}

.add-expense,
.add-income,
.edit-expense,
.edit-income {
    border: 1px solid black;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
}