.page_nav {

    display: flex;
}

.tab {

    width: 100px;
    height: 30px;
    background-color: #CCC;
    text-align: center;
    cursor: pointer;
  cursor: pointer;
}

.tab:first-child {

    border-radius: 0 0 0 5px;
}

.tab:last-child {

    border-radius: 0 0 5px 0;
}

.tab p {

    margin: 0;
    line-height: 30px;
}

.row {
    width: 100vw;
}