.expenseValue {
    color: rgb(223, 57, 6);
    font-size: 18pt;
    font-weight: bold;
}

.incomeValue {
    color: rgb(0, 130, 190);
    font-size: 18pt;
    font-weight: bold;
}

.inAndOutList {
    max-height: 87vh;
    max-width: 100%;
    overflow: scroll;
    margin: auto;
    margin-left: 10px;
}

* ::-webkit-scrollbar {
    display: none;
}

.select-month-button {
    position: relative;
    width: 100%;
}

.btn-a {
    border-radius: 30px 30px 30px 30px / 30px 30px 30px 30px;
    font-size: 12pt;
    text-align: center;
    cursor: pointer;
    padding: 4px 8px;
    background: #008deb;
    color: #ffffff;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    width: 120px;
}

.btn-a:hover {
    color: #fff;
    background: #52b7df;
}

.btn-b {
    border-radius: 30px 30px 30px 30px / 30px 30px 30px 30px;
    font-size: 12pt;
    text-align: center;
    cursor: pointer;
    padding: 4px 8px;
    background: #ff7f00;
    color: #ffffff;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    width: 120px;
    position: absolute;
    right: 0;
}

.btn-b:hover {
    color: #fff;
    background: #ee9b60;
}

.btn-d {
    border-radius: 30px 30px 30px 30px / 30px 30px 30px 30px;
    font-size: 12pt;
    text-align: center;
    cursor: pointer;
    padding: 4px 8px;
    background: #7cd648;
    color: #ffffff;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    width: 100px;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translateX(50%);
}

.btn-d:hover {
    color: #fff;
    background: #b0ee60;
}

.total-amount {
    width: 600px;
}

table {
    border: solid 1px;
    border-color: #008deb;
    padding: 10px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
}

.tr-main {
    border: solid 1px;
    border-color: #008deb;
}

.td-main {
    border: solid 1px;
    border-color: #008deb;
    vertical-align:top;
}

.th-a {
    width: 100px;
}

.th-b {
    width: 400px;
}

.th-c {
    width: 400px;
}

.tr-sub {
    border-bottom: 1px;
    border-style: dotted;
    border-color: #008deb;
    display: flex;
}

.td-a {
    width: 100px;
}

.td-b {
    width: 120px;
}

.td-c {
    width: 100px;
}

.td-d {
    width: 40px;
}

.td-e {
    width: 40px;
}

.btn-c {
    display: inline-block;
    border-radius: 50%;
    font-size: 7pt;
    text-align: center;
    cursor: pointer;
    padding: 3px 3px;
    background: #bbbbbb;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    border: 2px solid #bbbbbb;
}

.btn-c:hover {
    box-shadow: none;
    color: #888888;
    background: #ffffff;
}

.editButton {
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
    font-size: 8pt;
    text-align: center;
    cursor: pointer;
    padding: 2px 6px;
    background: #b6b6b6;
    color: #ffffff;
    border: none;
    margin-bottom: 5px;
    margin-left: 5px;
}

.deleteButton {
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
    font-size: 8pt;
    text-align: center;
    cursor: pointer;
    padding: 2px 6px;
    background: #b6b6b6;
    color: #ffffff;
    border: none;
    margin-bottom: 5px;
    margin-left: 5px;
}

.editButton:hover {
    color: #fff;
    background: #52b7df;
}

.deleteButton:hover {
    color: #fff;
    background: #52b7df;
}

.main-text {
    vertical-align: middle;
}

.graph-and-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.monthly-graph {
    max-width: 65%;
    height: 90vh;
    overflow: scroll;
}

.list-wrapper {
    max-width: 35%;
}

.category-index {
    border: 1px solid rgba(0, 180, 160, 1);
    border-radius: 15px;
    margin: 3px;
    margin-top: 15px;
    text-align: center;
}

.category{
    font-size: 12px;
    font-weight:bolder;
}

.description{
    font-size: 13px;
}

.inner-list{
    margin-top: 2px;
    border: none;
    width: 95%;
    height: 90%;
}