.btn-c {
    display       : inline-block;
    border-radius : 50%;
    font-size     : 7pt;
    text-align    : center;
    cursor        : pointer;
    padding       : 3px 3px;
    background    : #bbbbbb;
    color         : #ffffff;
    line-height   : 1em;
    transition    : .3s;
    border        : 2px solid #bbbbbb;
}
.btn-c:hover {
    box-shadow    : none;
    color         : #888888;
    background    : #ffffff;
}
