/* 
starting.js
login.js
signup.js
*/

.user-main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}

@keyframes zoomIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.login-or-signup {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateY(0%) translateX(-50%);
    min-width: 500px;
    width: auto;
    height: auto;
    padding: 1%;
    /* 背景色と影 */
    background-color: rgba(50, 255, 15, 0.9);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    border-radius: 15px;
    /* animation: zoomIn 1s cubic-bezier(0.25, 1, 0.5, 1); */
}


/* ログイン login.js*/

.loginMain {
    width: auto;
    margin: auto;
    overflow: hidden;
}

.err-msg {
    color: red;
}

.loginButton {
    float: right;
}


/* 新規登録 signup.js */

.length-check {
    text-align: right;
}

.signup-area p,
.signup-area input {
    margin: 0;
}

.signupButton {
    float: right;
    min-width: 80px;
}