.chart-area {
    position: relative;
}

.text-area {
    position: absolute;
    top: calc(50% + 15px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-height: 200px;
    max-width: 200px;
    text-align: center;
}