/* 
User.js
*/

.account-propaty {
    height: 5vh;
    /* color: black; */
    padding: 0 20px;
    /* background-color: rgba(255, 255, 255, 0.9); */
    transform: translateX(0%);
    cursor: pointer;
}

.name-area {
    padding-top: 10px;
}

.main-content {
    color: black;
    min-width: 500px;
    max-width: 30vw;
    max-height: 80vh;
    overflow: scroll;
}

.main-content::-webkit-scrollbar {
    display: none;
}

.menu-bar {
    list-style: none;
    margin: 0 3% 35px 0;
}

.edit-parts {
    overflow: scroll;
    /* margin: 0 3%; */
    background-color: rgba(0, 200, 0, 0.1);
}

.edit-parts::-webkit-scrollbar {
    display: none;
}

.account-lists {
    opacity: 0;
    margin-right: 50px;
    margin: 0;
    list-style: none;
    /* border: 1px solid black; */
    border-radius: 10px;
    display: block;
    overflow: hidden;
    background-color: lightgreen;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}


/* .account-edit {
    border: 1px solid black;
} */

.menu-bar li {
    /* border-radius: 10px; */
    /* border: 1px solid black; */
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    /* margin: 3px 0; */
}

.content-group {
    margin: 3px 0;
    /* border: 1px solid black; */
    /* box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5); */
}

.close-bar {
    margin-bottom: 0;
    height: 20px;
    position: relative;
    background-color: rgba(0, 200, 0, 0.7);
}

.closeButton {
    color: white;
    position: absolute;
    right: 1%;
    margin-bottom: 0;
    width: 20px;
    cursor: pointer;
    font-size: 15px;
    /* float: right; */
}

.footer {
    margin: 3%;
}

.chart-area {
    max-height: 500px;
    overflow: hidden;
}

.chart-area canvas {
    max-height: 300px;
}